body {
    margin: 0;
	width: 100%;
	font-family: arial;
	background-color: rgb(250,250,250);
	top: 0;
	left: 0;
}

/* ------------- navbar ------------ */

#navbar {
	width: 100%;
	height: 56px;
	position: fixed;
	top: 0;
	background-color: rgb(200,200,200);
	border-bottom: 2px solid rgba(50,50,50,0.7);
	z-index: 10;
}
#navbar li {
	width: 15%;
	height: 36px;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	padding: 10px;
	display: flex;
	float: right;
	border: 1px solid rgb(150,150,150);
	cursor: pointer;
	transition: 0.3s;
}
#navbar li:hover {
	background-color: rgb(170,170,170);
}
#navbar a {
	text-decoration: none;
	color: rgb(50,50,50);
}
#navbar ul {
	padding: 0;
	margin: 0;
}
#navbar img {
	max-width: 55%; 
	height: 100%;
	float: left;
}
.feature {
	display: block;
	margin: 10px 0;
	padding-left: 30px;
	margin-left: 10px;
	color: silver;
	border-left: 3px solid silver;
}

/* ------------ banner ------------ */

#banner {
	background-color: rgba(10,10,10,0.9);
	display: inline-block;
	position: relative;
	padding: 30px 0;
	border-top: 4px solid rgba(100,100,100,0.5);
	width: 100%;
}
#banner p {
	margin: 15px 50px;
	color: rgb(250,250,250);
}
#banner button {
	position: absolute;
	bottom: 7px;
	right: 7px;
	background-color: rgb(200,200,200);
	padding: 5px 15px;
	cursor: pointer;
}
#banner a {
	color: springgreen;
	text-decoration: underline;
}

/* ----------- languages ----------- */

#langElem {
	display: block;
	text-align: right;
	margin: 0px 20px 10px 0px;
}
.lang {
	background-color: rgb(100,100,100);
	color: rgb(250,250,250);
	padding: 5px 8px;
	border-radius: 5px;
	cursor: pointer;
}
.lang:hover {
	color: rgb(250,230,190);
}

/* ------------ content ------------ */

#content {
	margin-top: 56px;
	width: 100%;
}
#titleDiv {
	padding-bottom: 20px;
}
#title {
	text-align: center;
	background-color: rgb(50,50,50);
	color: rgb(250,250,250);
	padding: 40px 30px;
	margin: 0;
}
.field {
	display: block;
	margin: 15px 0;
}
.center {
	text-align: center;
}
.bottomBorder {
	padding-bottom: 20px;
	border-bottom: 1px solid rgb(150,150,150);
}
.bottomSpacing {
	margin-bottom: 20px;
}
#submit {
	font-size: 1.1em;
	padding: 5px 10px;
}
#outputElements {
	width: 90%;
	margin: 30px auto;
	display: flex;
}
#datetimeURL {
	padding: 8px;
	background-color: rgb(230,230,230);
	border-radius: 5px;
}
#generatedURL {
	margin: 30px 0;
	line-height: 200%;
}
#getLinkButton, #saveTimerButton {
	margin-top: 20px;
	padding: 5px;
}
.detail, #savedTimerName {
	line-height: 150%;
	padding: 5px 20px;
	background-color: rgb(220,220,220);
	border-radius: 5px;
}
.genField {
	margin-bottom: 30px;
}
#startDateTime, #endDateTime, #result {
	width: 80%;
	margin: 20px 10%;
	padding: 10px 15px;
	border: 2px solid rgb(150,150,150);
	border-radius: 10px;
	box-sizing: border-box;
	text-align: center;
}
#startNow, #startCustom {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	margin: 10px 2%;
	padding: 10px 15px;
	border: 1px solid rgb(150,150,150);
	border-radius: 10px;
	box-sizing: border-box;
	text-align: center;
}
#nowOpt, #customOpt {
	transform: scale(1.2);
	margin: 10px 0;
}
#startDateTime input {
	max-width: 80%;
}
#errors, #urlnameError, #timerNameError {
	color: red;
}
#savedTimerVerify {
	margin: 20px 0;
}

#resultStart, #resultEnd, #resultEndPassed {
	padding: 2px;
	background-color: rgb(200,200,200);
	border-radius: 5px;
}
#resultDesc {
	margin-top: 50px;
}
#timerFull {
	font-size: 2.5em;
}
#timerCode {
	color: springgreen;
	padding: 3px;
	background-color: rgb(80,80,80);
	line-height: 150%;
}

/* --------- saved timers ---------- */

#savedTimers {
	width: 80%;
	padding: 10px 10%;
	background-color: rgb(50,50,50);
	color: rgb(250,250,250);
	border-bottom: 8px solid rgb(20,20,20);
}
#savedTimers p {
	border-bottom: 1px solid rgb(150,150,150);
	padding-bottom: 15px;
}
.storedTimerName {
	padding: 5px 10px;
	background-color: rgb(70,70,70);
	border-radius: 5px;
}
.storedTimerTime {
	padding-left: 20px;
}
.deleteTimerButton {
	margin-left: 20px;
}
#generateURLelem, #saveTimerElem {
	padding: 20px 10px;
	width: 50%;
	border: 2px solid rgb(200,200,200);
	background-color: rgb(245,245,245);
}
#saveTimerElem {
	border-right: 0px;
	border-radius: 5px 0 0 5px;
}
#generateURLelem {
	border-radius: 0 5px 5px 0;
}
#renderCodeButton {
	margin: 20px 20px 0 0;
	float: right;
}

/* ------------ footer ------------- */

#footer {
	margin: 50px 0 0 0;
	padding: 20px 30px 0 30px;
	height: 150px;
	text-align: center;
	color: rgb(200,200,200);
	background-color: rgb(50,50,50);
}
#footer a {
	color: springgreen;
	background-color: rgb(50,50,50);
}
#footer span {
	width: 80%;
	margin: auto;
}


@media only screen and (max-width: 700px) {
	#navbar img {
		margin-top: 10px;
		height: 50%;
	}
	#navbar li {
		font-size: 0.6em;
	}
	#generateURLelem, #saveTimerElem {
		padding: 20px 10px;
		width: 80%;
		margin: auto;
		border: 2px solid rgb(200,200,200);
	}
	#saveTimerElem {
		border-right: 2px solid rgb(200,200,200);
		border-bottom: 0px;
		border-radius: 5px 5px 0px 0px;
	}
	#generateURLelem {
		border-radius: 0px 0px 5px 5px;
	}
	#outputElements {
		width: 100%;
		margin: 30px auto;
		display: block;
	}
	.storedTimerTime {
		padding-left: 5px;
	}
	.deleteTimerButton {
		margin-left: 5px;
	}
	#savedTimers p {
		line-height: 150%;
	}
}